.calendar {
  background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 1px 2px 5px rgb(78, 78, 78);
  }
  
  .calendar h2 {
    font-size: 1.2rem;
    margin-top: 0;
    margin-bottom: 10px;
  }

  .calendar h3 {
    font-size: 1.6rem;
    margin-top: 0;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
  }
  .calendar h4 {
    font-size: 0.8rem;
    margin-top: 0;
    margin-bottom: 10px;

  }
  
  .calendar table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .calendar thead th {
    font-size: 0.8rem;
    text-transform: uppercase;
    color: #000000;
    background-color: rgb(226, 156, 70);
  }
  
  .calendar th,
  .calendar td {
    padding: 5px;
    border: 1px solid #ccc;
    height: 50px; /* Set a fixed height */
  }
  
  .calendar td {
    vertical-align: center;
    aspect-ratio: 1;
  }

  .calendar tr {
    background-color: rgb(253, 253, 253);
    text-align: center;

  }
  
  .calendar .calendar-day {
    font-size: 0.9rem;
    margin-bottom: 5px;
  }
  
  .calendar .calendar-score {
    font-size: 1rem;
    color: #999;
  }
  
  @media screen and (min-width: 768px) {
    .calendar {
      padding: 20px;
    }
    .calendar th,
    .calendar td {
      padding: 10px;
      height: 60px; /* Increase the height for larger screens */
    }
    .calendar td {
      aspect-ratio: 1;
    }
    .calendar .calendar-score {
      font-size: 2rem;
    }
  }