.card {
    display: flex;
    align-items: center;
    padding: 16px;
    border-radius: 8px;
    margin-bottom: 16px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    
  }
  
  .card:hover {
    transform: translateY(-4px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    margin-right: 16px;
    background-color: rgb(255, 255, 255);
  }
  
  .details {
    display: flex;
    flex-direction: column;
  }
  
  .name {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 8px;
    color: #000000;
  }
  
  .date {
    font-size: 12px;
    color: #000000;
  }
  
  .morning {
    background-color: #adecff;
  }
  
  .afternoon {
    background-color: #efa64d;
  }
  
  .night {
    background-color: #1f3f66;
    
  }
  
  .score {
    font-size: 22px;
    font-weight: bold;
    margin-left: auto;
    color: #ffffff;
  }
  
  .group {
    font-size: 14px;
    margin-left: 16px;
    color: #000000;
  }
  

