.statsContainer {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    
    
  }
  
  .title {
    font-size: 28px;
    margin-bottom: 10px;
    
  }

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-bottom: 1px solid white;
  }

  .groupInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    background-color:#2f1d96;
    color:rgb(255, 255, 255)
  }
  
  .subTitle {
    font-size: 24px;
    margin: 20px 0;
    
  }
  
  .groupTitle {
    font-size: 20px;
    margin: 15px 0;
    
  }
  
  .sectionTitle {
    font-size: 18px;
    margin: 10px 0;
    
  }
  
  .list {
    padding-left: 20px;
    
  }
  
  .text, .listItem {
    font-size: 16px;
    line-height: 1.5;
    
  }